.c-header-register {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-header-bar;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  border-bottom: 2px solid $color-fog;
  background-color: $color-snow;

  &__logo {
    flex: 0 0 auto;
    width: 30px;
    padding-top: 2px;

    > img {
      display: block;
    }
  }
}
