.c-list-card-default {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  @include mq(sm) {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px 0;
  }

  > li {
    display: contents;
  }
}
